


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: .25;

    background-image: url("images/arcade.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.opaque {
    background-color: rgba(255,255,255,0.8);
}

footer {
    padding: 2em 0;
}

footer ul {
    list-style: none;
}

footer ul > li {
    padding-left: 1em;
}

footer  a {
    color: #6c757d;
}

footer a:hover {
    color: #4f565c;
}

.title {
    background-color: #333399; 
    color: white;
    padding: 2em;
}

.section-head {
    /*background-color: rgba(51, 51, 153, 0.8);*/
    /*color: #eee;*/
    padding: 1em;
    margin-bottom: 1em;
}

.section-head  h2 {
    font-size: 3em;
}
