<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Catan Dice Counter</title>
    <link rel=stylesheet type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <style>
        .minimal-input {
            background: none;
            border: none;
        }
    </style>
</head>

<body style="padding-top: 1em">
    <section class=container>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Catan Helper</a>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <li id="lockBtn">
                        <a href=# onclick="return lockPlayers(this)">Lock Players</a>
                    </li>
                </div>
            </div>
        </nav>


        <div class="row">
            <div id=player1 class="player col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type=text class=minimal-input value="Player" />
                        <span class="remove-player pull-right" style="cursor: pointer" onclick="return removePlayer(this);">&times;</span>
                    </div>
                    <div class="panel-body text-center">
                        <p class=vp>
                            <button type=button class="btn btn-sm btn-default" onclick="return decrement(this);">-</button>
                            <span style="margin: 0 1em; font-size: 1.2em; vertical-align: middle;"><b>Victory Points:</b> <span class=val>0</span></span>
                            <button type=button class="btn btn-sm btn-success" onclick="return increment(this);">+</button>
                        </p>
                        <p class=vp>
                            <button type=button class="btn btn-sm btn-default" onclick="return decrement(this);">-</button>
                            <span style="margin: 0 1em; font-size: 1.2em; vertical-align: middle;"><b>Knights:</b> <span class=val>0</span></span>
                            <button type=button class="btn btn-sm btn-success" onclick="return increment(this);">+</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="player col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type=text class=minimal-input value="Player" />
                        <span class="remove-player pull-right" style="cursor: pointer" onclick="return removePlayer(this);">&times;</span>
                    </div>
                    <div class="panel-body text-center">
                        <p class=vp>
                            <button type=button class="btn btn-sm btn-default" onclick="return decrement(this);">-</button>
                            <span style="margin: 0 1em; font-size: 1.2em; vertical-align: middle;"><b>Victory Points:</b> <span class=val>0</span></span>
                            <button type=button class="btn btn-sm btn-success" onclick="return increment(this);">+</button>
                        </p>
                        <p class=vp>
                            <button type=button class="btn btn-sm btn-default" onclick="return decrement(this);">-</button>
                            <span style="margin: 0 1em; font-size: 1.2em; vertical-align: middle;"><b>Knights:</b> <span class=val>0</span></span>
                            <button type=button class="btn btn-sm btn-success" onclick="return increment(this);">+</button>
                        </p>
                    </div>
                </div>
            </div>

            <div id="addPlayerBtnWrapper" class="col-md-4">
                <button type=button onclick="return addPlayer(this)" class="btn btn-success btn-block text-center"><i class="fa fa-plus"></i> Add Player</div>
            </div>
        </div>


        <hr />

        <div class=row>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class=panel-heading>
                        <div class=panel-title>Dice Rolls (Numbers)</div>
                    </div>

                    <div class=panel-body>
                            <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="n in [2,3,4,5,6,7,8,9,10,11,12]">
                                            <td class=text-center>
                                                <button type=button class="btn btn-sm btn-default" onclick="return decrement(this);">-</button>
                                                <span style="margin: 0 1em; font-size: 1.2em; vertical-align: middle;"><b>{{n}} |</b> <span class=val>0</span></span>
                                                <button type=button class="btn btn-sm btn-success" onclick="return increment(this);">+</button>
                                            </td>
                                        </tr>                                           
                                    </tbody>
                                </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class=panel-heading>
                            <div class=panel-title>Dice Rolls (Cities & Knights)</div>
                        </div>

                        <div class=panel-body>
                                <table class="table table-striped">
                                        <tbody>
                                            <tr ng-repeat="die in ['Barbarian', 'Yellow', 'Blue', 'Green']">
                                                <td class=text-center>
                                                    <button type=button class="btn btn-sm btn-default" onclick="return decrement(this);">-</button>
                                                    <span style="margin: 0 1em; font-size: 1.2em; vertical-align: middle;"><b>{{die}} |</b> <span class=val>0</span></span>
                                                    <button type=button class="btn btn-sm btn-success" onclick="return increment(this);">+</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        var app = angular.module('myApp', []);

        $(function() {
            
        })

        function increment(sender) {
            var counter = $(sender).parent().find('.val');

            counter.text( Number(counter.text()) + 1 );
            return false;
        }

        function decrement(sender) {
            var counter = $(sender).parent().find('.val');

            if (Number(counter.text()) > 0) {
                counter.text( Number(counter.text()) - 1);
            }
            
            return false;
        }

        function addPlayer(sender) {
            $(sender).parent().before($('.player').first().clone());

            if ($('.player').length == 6){
                $(sender).hide();
            }
        }

        function removePlayer(sender) {
            if (!$('#lockBtn').hasClass('active')) {
                if ($('.player').length > 2) {
                    $(sender).parent().parent().parent().remove();

                    $('#addPlayerBtnWrapper button').show();
                }
                else {
                    alert('Must have at least two players');
                }
            }
        }

        function lockPlayers(sender) {
            $(sender).parent().toggleClass('active');
            $('#addPlayerBtnWrapper button').toggle();
            return false;
        }
    </script>
</body>
</html>