.navbar {
    border-radius: 0;
}

a.nodecoration {
    text-decoration: none;
}

ul.ui.steps {
    list-style: none;
}

li.ui.active > a > .step {
    cursor: auto;
    background: #f0f0f0;
}

li.ui > a {
    cursor: pointer;
}

li.ui.active > a > .step::after {
    display: block !important;
    content: '';
    background: #f0f0f0;
}

background {
    display: block;
    position: fixed;
    top:0; bottom: 0;
    left: 0; right: 0;
    z-index: -1;
    background-image: url('../images/city.jpg');
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

background.map {
    background-image: url('../images/map.jpg');
    opacity: 0.7;
}

background.sewer {
    background-image: url('../images/sewer.jpg');
    opacity: 0.7;
}

.panel-background {
    background: url('../images/city.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    border: 1px solid #111;
}

.jumbotron.inverse, .panel-inverse {
    border: 1px solid;
    background-color: #222;
    border-color: #080808;
    color: #fff;
}

.m-steps {
    padding: 0;
    margin: 0;
}

.m-step {
    border: 1px solid #080808;
    border-bottom: none;
    background-color: #222;
    color: #fff;
    display: table;
    width: 100%;
    padding: 10px;
    position: relative;
}

    .m-step:hover {
        background: #333;
    }


    .m-step:first-child {
        border-radius: 4px 4px 0 0;
    }

    .m-step:last-child {
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid #080808;
    }

    .m-step.active, .m-step.active:hover {
        background: #444;
    }


    

    .m-step > i {
        display: table-cell;
        font-size: 3em;
        padding-right: 0.2em;
        vertical-align: middle;
        text-align: center;
    }

    .m-step > .content {
        display: table-cell;
        vertical-align: middle;
    }

    .m-step > .content > .title {
        font-weight: bold;
        font-size: 1.5em;
    }

.panel-body > .m-panel-title {
    margin: 0;
}

.panel-body > .m-panel-description {
    margin: 0 0 20px 0;
}

.panel-body > .m-panel-steps {
    padding-left: 2em;
}