body {
    background-color: #eee;
    font-family: "Century Gothic", "Geneva", sans-serif;
    padding-top: 2em;
    padding-bottom: 1em;
}

h1, h2, h3 {
    margin: .4em;
    color: #34329e;
}

.box {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: white;
    padding: 1.5em;
    margin: 0;
}